body{
	background-color:#ffffff;
	
}

.topboard{
	height:20px;
	width:33%;
	background-color: #009FEE;
	top:10px;
	left:33%;
	z-index:10;
	position:absolute;
	border-radius:5px;
}

.board{
	margin : 15px 10px 5px 10px;
	background-color:#333333 !important;
	color:#ffffff !important;
	border-radius:10px;
	padding-top:20px;
	padding-bottom:10px;
}

.tasks-container{
	min-height:150px;
}

#content{
	width:180px;
}

#newTask{
	max-width: 130px;
	max-height:30px;
	border-color: #333333;
	border-width:medium;
	border-radius: 5px;
	font-size: 11px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

i.fa-minus-square:before{
	padding-right:5px;
}

.icon,.fa-plus-square,.fa-trash-alt{
	cursor:pointer;
}

li{
	font-size: 13px;
}

.urgent{
	color: #ffc107
}
